Package: darwin
Version: 9.0-nx2
Architecture: all
Essential: no
Maintainer: Mo McRoberts <mo.mcroberts@nexgenta.com>
Section: admin
Priority: important
Origin: Nexgenta
Description: Pseudo-package for Fink support
 This package provides the 'darwin' dependency so as to allow Fink packages to
 install.

